body {
  margin: 0;
  height: 100vh;
  background-color: #000;
  border: 2px solid white;
  box-sizing: border-box;
}

div {
  height: 100%;
  background-color: #666;
  clip-path: polygon(0 0, 100% 0, 0 100%);
}

h1 {
  font-size: 10vmin;
  margin: 0 5vmin;
  width: 80vmin;
}

svg {
  position: absolute;
  top: 0;
  right: 0;
}